<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.rs.teach.mapper.resourcesAttr.dao.PicAttrMapper">
	<update id="updatePic" parameterType="com.rs.teach.mapper.resourcesAttr.entity.PicAttr">
		update TF_EL_PIC_ATTR t set t.PIC_URL = #{picUrl},t.SAVE_PATH = #{savePath} where t.PIC_ID = {picId}
	</update>
	
	<insert id="insertPic" parameterType="com.rs.teach.mapper.resourcesAttr.entity.PicAttr">
		insert info TF_EL_PIC_ATTR 
			(
				PIC_ID,
				ASSOCIATION_ID,
				PIC_URL,
				SAVE_PATH
			)
		values
			(
				#{picId},
				#{associationId},
				#{picUrl},
				#{savePath}
			)
	</insert>
	
	<select id="queryPic" parameterType="java.lang.String"></select>
</mapper>