<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.summary.dao.SummaryMapper">
    <insert id="addSummary" parameterType="com.rs.teach.mapper.summary.entity.Summary">
        insert into TF_EL_SUMMARY(user_id, section_sort, course_id, summary)
        values (#{userId},#{sectionSort},#{courseId},#{summary})
    </insert>

    <update id="updateSummary" parameterType="com.rs.teach.mapper.summary.entity.Summary">
        update TF_EL_SUMMARY
        set summary = #{summary}
        where user_id = #{userId}
        and course_id = #{courseId}
        and section_sort = #{sectionSort}
    </update>

    <select id="isEmpty" parameterType="com.rs.teach.mapper.summary.entity.Summary" resultType="java.lang.Integer">
        select count(1) from TF_EL_SUMMARY
        where USER_ID = #{userId}
        AND course_id = #{courseId}
        and section_sort = #{sectionSort}
    </select>

    <select id="querySummary" parameterType="com.rs.teach.mapper.summary.entity.Summary" resultType="com.rs.teach.mapper.summary.entity.Summary">
        select * from TF_EL_SUMMARY
        where USER_ID = #{userId}
        AND course_id = #{courseId}
        and section_sort = #{sectionSort}
    </select>
</mapper>