<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.massage.dao.MessageMapper">
	<insert id="insertMassage" parameterType="com.rs.teach.mapper.massage.entity.Message">
		insert into TF_EL_MESSAGE 
			(
				MESSAGE_ID,
				MESSAGE_TYPE,
				MASSAGE_CONTENT,
				MESSAGE_TIME,
				USER_ID,
				EXTEND1,
				EXTEND2,
				EXTEND3,
				EXTEND4
			)
		values
			(
				SEQ_EL_MESSAGE.nextval, 
				#{messageType},
				#{messageContent},
				#{messageTime},
				#{userId},
				#{extend1},
				#{extend2},
				#{extend3},
				#{extend4}
			)
	</insert>
	
	<resultMap type="com.rs.teach.mapper.massage.entity.Message" id="message">
		<result property="messageId" column="MESSAGE_ID" />
		<result property="messageType" column="MESSAGE_TYPE" />
		<result property="messageContent" column="MASSAGE_CONTENT" />
		<result property="messageTime" column="MESSAGE_TIME" />
		<result property="userId" column="USER_ID" />
		<result property="isRead" column="IS_READ" />
		<result property="isPopUp" column="IS_POPUP"/>
	</resultMap>
	<select id="queryMessage" parameterType="java.lang.String" resultMap="message">
		select * from tf_el_message t 
			<where>
				t.USER_ID = #{userId}
				<if test="code != null and code != ''">
					and t.MESSAGE_TYPE = #{code}
				</if>
			</where> 
			order by to_char(to_date(t.message_time,'yyyy-MM-dd HH24:mi:ss'),'yyyyMMddHH24miss') desc
	</select>
	
	
	<select id="queryNotRead" parameterType="java.lang.String" resultMap="message">
		select * from tf_el_message t where t.USER_ID = #{userId} and t.IS_READ = '0' order by to_char(to_date(t.message_time,'yyyy-MM-dd HH24:mi:ss'),'yyyyMMddHH24miss') desc
	</select>
	
	<update id="updateIsRead" parameterType="java.lang.String">
		update tf_el_message t set t.IS_READ = '1' where t.USER_ID = #{userId} and t.MESSAGE_ID = #{messageId}
	</update>
	
	<!-- 管理员 start -->
	<select id="queryMessages" resultMap="message">
		select * from tf_el_message
	</select>
	
	<insert id="addMessages" parameterType="com.rs.teach.mapper.massage.entity.Message">
		insert into tf_el_message(message_id,message_type,massage_content,message_time,user_id,IS_POPUP)
	select SEQ_EL_MESSAGE.nextval,
	       #{messageType},
	       #{messageContent},
	       #{messageTime},
	       t.user_id,
	       #{isPopUp}
	       from tf_el_teach_user t
	</insert>
	
	<select id="queryMessageByPop" parameterType="java.lang.String" resultMap="message">
		select * from tf_el_message where user_id = #{userId} and IS_POPUP = '1' and IS_READ = '0'
	</select>
	
	<update id="updateIsPop" parameterType="java.util.List">
		update tf_el_message set IS_POPUP = '0',IS_READ = '1'
		<where>
			MESSAGE_ID in
				<foreach collection="list" item="message" index="index" separator="," open="(" close=")">
					#{message.messageId}
				</foreach>
		</where>
	</update>
</mapper>