<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.backstage.dao.ClassMapper">

    <insert id="addClass" parameterType="com.rs.teach.mapper.backstage.entity.TFClass">
        insert into TF_EL_CLASS(CLASS_ID, SCHOOL_ID, CLASS_NAME)
        VALUES(SEQ_EL_CLASS.nextval,#{schoolId},#{className})
    </insert>

    <update id="updateClass" parameterType="com.rs.teach.mapper.backstage.entity.TFClass">
        update TF_EL_CLASS
        <set>
            <if test="schoolId !=null and schoolId != ''">
                SCHOOL_ID=#{schoolId},
            </if>
            <if test="className !=null and className != ''">
                CLASS_NAME=#{className},
            </if>
        </set>
        WHERE CLASS_ID = #{classId}
    </update>

    <delete id="deleteClass">
        DELETE FROM TF_EL_CLASS
        WHERE CLASS_ID = #{classId}
    </delete>

    <select id="selectClass" resultType="com.rs.teach.mapper.backstage.entity.TFClass">
        select C.CLASS_ID,C.SCHOOL_ID,C.CLASS_NAME,S.SCHOOL_NAME
        from  TF_EL_CLASS C ,TF_EL_SCHOOL S
        WHERE S.SCHOOL_ID = C.SCHOOL_ID
    </select>
    <select id="queryNumBySchoolId" resultType="java.lang.Integer">
        select count(1) from TF_EL_CLASS
        where SCHOOL_ID = #{schoolId}
    </select>
    <select id="selectClassBySchoolId" parameterType="com.rs.teach.mapper.backstage.entity.TFClass" resultType="com.rs.teach.mapper.backstage.entity.TFClass">
        select C.CLASS_ID,C.SCHOOL_ID,C.CLASS_NAME,S.SCHOOL_NAME
        from  TF_EL_CLASS C ,TF_EL_SCHOOL S
        WHERE S.SCHOOL_ID = C.SCHOOL_ID
        AND C.SCHOOL_ID = #{schoolId}
    </select>
</mapper>