<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.backstage.dao.SchoolMapper">

    <insert id="addSchool" parameterType="com.rs.teach.mapper.backstage.entity.School">
        insert into TF_EL_SCHOOL(school_id,school_name, school_address)
        VALUES (SEQ_EL_SCHOOL.nextval,#{schoolName},#{schoolAddress})
    </insert>

    <update id="updateSchool" parameterType="com.rs.teach.mapper.backstage.entity.School">
        update TF_EL_SCHOOL
         <set>
             <if test="schoolAddress != null and schoolAddress !=''">
                 SCHOOL_ADDRESS = #{schoolAddress},
             </if>
             <if test="schoolName != null and schoolName !=''">
                 SCHOOL_NAME = #{schoolName},
             </if>
         </set>
        where SCHOOL_ID = #{schoolId}
    </update>

    <delete id="deleteSchool">
        delete from TF_EL_SCHOOL
        where SCHOOL_ID = #{schoolId}
    </delete>
    <select id="selectSchool" resultType="com.rs.teach.mapper.common.OptionVo">
        select SCHOOL_ID as value,
              SCHOOL_NAME as label
              from TF_EL_SCHOOL
    </select>
    <select id="selectSchoolVo" resultType="com.rs.teach.mapper.backstage.vo.SchoolVo">
        select * from TF_EL_SCHOOL
    </select>
    <select id="selectSchoolId" parameterType="com.rs.teach.mapper.backstage.entity.School" resultType="java.lang.String">
        select SCHOOL_ID
        from TF_EL_SCHOOL
        where SCHOOL_NAME = #{schoolName}
        and SCHOOL_ADDRESS = #{schoolAddress}
    </select>
    <select id="isEmpty" parameterType="com.rs.teach.mapper.backstage.entity.School" resultType="java.lang.Integer">
        select count(1) from TF_EL_SCHOOL
        where SCHOOL_NAME = #{schoolName}
        and SCHOOL_ADDRESS = #{schoolAddress}
    </select>

    <select id="selectSchoolBySchoolId" parameterType="com.rs.teach.mapper.backstage.entity.School" resultType="com.rs.teach.mapper.backstage.vo.SchoolVo">
        select * from TF_EL_SCHOOL
        where SCHOOL_ID = #{schoolId}
    </select>
</mapper>