<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.backstage.dao.SchoolCourseMapper">

    <insert id="addSchoolCourse" parameterType="com.rs.teach.mapper.backstage.entity.School">
        insert into SCHOOL_COURSE_RELA(school_id,course_flag ,VIDEO_FLAG, course_id)
        select #{schoolId},'1','0', A.* from(
        <foreach collection="courseIds" item="item" index="index" open="(" close=")" separator="union all" >
            select
            #{item}
            from dual
        </foreach>
        )A
    </insert>

    <insert id="addSchoolVideoCourse" parameterType="com.rs.teach.mapper.backstage.entity.School">
        insert into SCHOOL_COURSE_RELA(school_id,course_flag ,VIDEO_FLAG, course_id)
        select #{schoolId},'1','1', A.* from(
        <foreach collection="courseIds" item="item" index="index" open="(" close=")" separator="union all" >
            select
            #{item}
            from dual
        </foreach>
        )A
    </insert>

    <delete id="deleteSchoolCourse">
        delete from SCHOOL_COURSE_RELA
        where SCHOOL_ID = #{schoolId}
        and VIDEO_FLAG = '0'
    </delete>
    <delete id="deleteSchoolVideoCourse">
        delete from SCHOOL_COURSE_RELA
        where SCHOOL_ID = #{schoolId}
        and VIDEO_FLAG = '1'
    </delete>
    <select id="count" resultType="java.lang.Integer">
        select count(1) from SCHOOL_COURSE_RELA
        where SCHOOL_ID = #{schoolId}
        and VIDEO_FLAG = '0'
    </select>
    <select id="countVideo" resultType="java.lang.Integer">
        select count(1) from SCHOOL_COURSE_RELA
        where SCHOOL_ID = #{schoolId}
        and VIDEO_FLAG = '1'
    </select>

    <select id="selectCourseBySchoolId" resultType="com.rs.teach.mapper.backstage.entity.SchoolCourseRela">
        select SCHOOL_COURSE_RELA.COURSE_ID,COURSE_NAME
         from SCHOOL_COURSE_RELA,TF_EL_COURSE
        where TF_EL_COURSE.COURSE_ID = SCHOOL_COURSE_RELA.COURSE_ID
        and SCHOOL_ID = #{schoolId}
        and course_flag = '1'
    </select>

    <select id="echoCourse" resultType="java.lang.String">
        select COURSE_ID
        from SCHOOL_COURSE_RELA
        where SCHOOL_ID = #{schoolId}
    </select>
</mapper>