<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.backstage.dao.TrainDataMapper">

    <insert id="addTrainData" parameterType="com.rs.teach.mapper.backstage.entity.TrainData">
        insert into TF_EL_TRAIN_DATA(id, train_data_id, train_data_name, train_data_url,
                      train_data_path, train_data_type, add_time, TRAIN_DATA_FILE_NAME,TRAIN_COURSE_ID,ANSWER_ID)
        values (#{id},#{trainDataId},#{trainDataName},#{trainDataUrl},
                    #{trainDataPath},#{trainDataType},#{addTime},#{trainDataFileName},#{trainCourseId},#{answerId})
    </insert>
    <update id="UpdateTrainData" parameterType="com.rs.teach.mapper.backstage.entity.TrainData">
        update TF_EL_TRAIN_DATA
        <set>
            <if test="trainDataId != null and trainDataId != ''">
                train_data_id = #{trainDataId},
            </if>
            <if test="trainDataName != null and trainDataName != ''">
                train_data_name = #{trainDataName},
            </if>
            <if test="trainDataUrl != null and trainDataUrl != ''">
                train_data_url = #{trainDataUrl},
            </if>
            <if test="trainDataPath != null and trainDataPath != ''">
                train_data_path = #{trainDataPath},
            </if>
            <if test="trainDataType != null and trainDataType != ''">
                train_data_type = #{trainDataType},
            </if>
            <if test="trainDataFileName != null and trainDataFileName != ''">
                TRAIN_DATA_FILE_NAME = #{trainDataFileName},
            </if>
            <if test="trainCourseId != null and trainCourseId != ''">
                TRAIN_COURSE_ID = #{trainCourseId},
            </if>
        </set>
        where id = #{id}

    </update>
    <select id="selectTrainDataById" resultType="com.rs.teach.mapper.backstage.entity.TrainData">
        select * from TF_EL_TRAIN_DATA
        where id = #{id}
    </select>

    <select id="selectTrainData" resultType="com.rs.teach.mapper.backstage.entity.TrainData">
        select ID,TRAIN_DATA_NAME,TF_EL_TRAIN_DATA.ADD_TIME,TRAIN_DATA_URL,ANSWER_ID,TF_EL_TRAIN_DATA.TRAIN_COURSE_ID,TRAIN_COURSE_NAME
        from TF_EL_TRAIN_DATA,TF_EL_TRAIN_COURSE
        where TF_EL_TRAIN_DATA.TRAIN_COURSE_ID = TF_EL_TRAIN_COURSE.TRAIN_COURSE_ID
    </select>

    <delete id="trainDataDelete">
        delete from
        (
          select 1
          from TF_EL_TRAIN_DATA td,USER_TRAIN_DATA_RELA tdr,TF_EL_TRAIN_DATA_ANSWER tda,TF_EL_ANSWER_SHEET ash,TF_EL_EVALUATION e
          where td.id = tdr.DATA_ID
          and td.ANSWER_ID = tda.ANSWER_ID
          and tdr.ANSWER_SHEET_ID = ash.ANSWER_SHEET_ID
          and ash.EVALUATION_ID = e.EVALUATION_ID
          and td.ID = #{id}
        )
    </delete>

    <resultMap id="map" type="com.rs.teach.mapper.backstage.vo.TrainDataFileAllUrlVo">
        <result property="trainDataUrl" column="TRAIN_DATA_URL"/>
        <result property="trainAnswerUrl" column="TRAIN_ANSWER_URL"/>
        <collection property="list" ofType="com.rs.teach.mapper.backstage.entity.TrainDataAnswer">
            <result property="trainAnswerUrl" column="TRAIN_SHEET_URL" />
        </collection>
    </resultMap>

    <select id="selectFileAllUrl" resultMap="map">
        select TRAIN_DATA_URL,TRAIN_ANSWER_URL,TRAIN_SHEET_URL
        from TF_EL_TRAIN_DATA,TF_EL_TRAIN_DATA_ANSWER,USER_TRAIN_DATA_RELA,TF_EL_ANSWER_SHEET
        where TF_EL_TRAIN_DATA.ANSWER_ID = TF_EL_TRAIN_DATA_ANSWER.ANSWER_ID
        and TF_EL_TRAIN_DATA.ID = DATA_ID
        and USER_TRAIN_DATA_RELA.ANSWER_SHEET_ID = TF_EL_ANSWER_SHEET.ANSWER_SHEET_ID
        and TF_EL_TRAIN_DATA.ID = #{id}
    </select>

    <select id="queryTrainDataCourseId" resultType="com.rs.teach.mapper.backstage.entity.TrainData">
        select id,TRAIN_COURSE_ID,TRAIN_COURSE_NAME
        from TF_EL_TRAIN_DATA,TF_EL_TRAIN_COURSE
        where TF_EL_TRAIN_DATA.TRAIN_COURSE_ID = TF_EL_TRAIN_COURSE.TRAIN_COURSE_ID
        group by TF_EL_TRAIN_DATA.TRAIN_COURSE_ID
    </select>
    <select id="queryTrainDataAndAnswer" resultType="com.rs.teach.mapper.backstage.vo.TrainDataAndAnswerVo">
        select TF_EL_TRAIN_DATA.id,
                TF_EL_TRAIN_DATA.train_data_name,
                 TF_EL_TRAIN_DATA.train_data_type,
                 TF_EL_TRAIN_DATA.train_data_file_name,
                 TF_EL_TRAIN_DATA.train_course_id,
                 TRAIN_COURSE_NAME,
                 TF_EL_TRAIN_DATA_ANSWER.answer_id,
                 TF_EL_TRAIN_DATA_ANSWER.train_answer_type,
                 TF_EL_TRAIN_DATA_ANSWER.train_data_file_name as trainAnswerFileName
        from TF_EL_TRAIN_DATA,TF_EL_TRAIN_DATA_ANSWER,TF_EL_TRAIN_COURSE
        where TF_EL_TRAIN_DATA.ANSWER_ID = TF_EL_TRAIN_DATA_ANSWER.ANSWER_ID
        and TF_EL_TRAIN_DATA.TRAIN_COURSE_ID = TF_EL_TRAIN_COURSE.TRAIN_COURSE_ID
        and ID = #{id}
    </select>
</mapper>
