<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.backstage.dao.UserTrainDataRelaMapper">

    <insert id="addUserTrainData"  parameterType="com.rs.teach.mapper.backstage.entity.UserTrainDataRela">
        insert into USER_TRAIN_DATA_RELA(id, data_id, admin_id,TRAIN_COURSE_ID, user_id)
         select SEQ_EL_USER_TRAIN_DATA_RELA.nextval,#{dataId},#{adminId},#{trainCourseId}, A.* from(
        <foreach collection="userIds" item="item" index="index" open="(" close=")" separator="union all" >
            select
            #{item}
            from dual
        </foreach>
        ) A
    </insert>
    <update id="updateUserTrainData" parameterType="com.rs.teach.mapper.backstage.entity.UserTrainDataRela">
        update USER_TRAIN_DATA_RELA
        set ANSWER_SHEET_ID = #{answerSheetId}
        where DATA_ID = #{dataId}
        and USER_ID = #{userId}
        and TRAIN_COURSE_ID = #{trainCourseId}
    </update>
    <select id="isEmpty" resultType="java.lang.Integer">
        select count(1) from USER_TRAIN_DATA_RELA
        where DATA_ID = #{id}
        and USER_ID = #{userid}
        and TRAIN_COURSE_ID = #{trainCourseId}
    </select>
    <update id="updateAnswerSheetId">
        update USER_TRAIN_DATA_RELA
        set ANSWER_SHEET_ID = '加入'
        where DATA_ID = #{id}
        and USER_ID = #{userid}
        and TRAIN_COURSE_ID = #{trainCourseId}
    </update>

    <select id="answerSheetIdIsEmpty" resultType="java.lang.String">
        select ANSWER_SHEET_ID from USER_TRAIN_DATA_RELA
        where DATA_ID = #{id}
        and USER_ID = #{userid}
        and TRAIN_COURSE_ID = #{trainCourseId}
    </select>

    <select id="queryUserTrainDataRela" parameterType="com.rs.teach.mapper.backstage.entity.TrainData" resultType="com.rs.teach.mapper.backstage.entity.UserTrainDataRela">
        select id, data_id, USER_TRAIN_DATA_RELA.user_id, admin_id,ANSWER_SHEET_ID, USER_TRAIN_DATA_RELA.train_course_id, user_name , train_course_name
        from USER_TRAIN_DATA_RELA,TF_EL_TEACH_USER,TF_EL_TRAIN_COURSE
        <where>
            USER_TRAIN_DATA_RELA.USER_ID = TF_EL_TEACH_USER.USER_ID
            and USER_TRAIN_DATA_RELA.TRAIN_COURSE_ID = TF_EL_TRAIN_COURSE.TRAIN_COURSE_ID
            and data_id = #{id}
            <if test="userName != null and userName != ''">
                and USER_NAME like '%'|| #{userName} ||'%'
            </if>
        </where>
    </select>
    <select id="queryAdminName" resultType="com.rs.teach.mapper.backstage.entity.UserTrainDataRela">
        select id, user_name as adminName
        from USER_TRAIN_DATA_RELA,TF_EL_TEACH_USER
        where USER_TRAIN_DATA_RELA.USER_ID = TF_EL_TEACH_USER.USER_ID
        and data_id = #{id}
    </select>
    <delete id="delete">
        delete from USER_TRAIN_DATA_RELA
        where ID = #{id}
    </delete>
    <delete id="deleteRela">
        delete from TF_EL_ANSWER_SHEET
        where TF_EL_ANSWER_SHEET.ANSWER_SHEET_ID =
        (
            select TF_EL_ANSWER_SHEET.ANSWER_SHEET_ID from USER_TRAIN_DATA_RELA,TF_EL_ANSWER_SHEET
            where TF_EL_ANSWER_SHEET.ANSWER_SHEET_ID = USER_TRAIN_DATA_RELA.ANSWER_SHEET_ID
            and ID = #{id}
        )
    </delete>
    <select id="echoPeople" parameterType="com.rs.teach.mapper.backstage.entity.UserTrainDataRela" resultType="java.lang.String">
        select user_id
        from user_train_data_rela
        where DATA_ID = #{dataId}
        and TRAIN_COURSE_ID = #{trainCourseId}
    </select>
    <select id="selectAnswerSheetId" resultType="java.lang.String">
        select ANSWER_SHEET_ID
        from USER_TRAIN_DATA_RELA
        where DATA_ID = #{id}
        and USER_ID = #{userid}
        and TRAIN_COURSE_ID = #{trainCourseId}
    </select>
</mapper>
