<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.user.dao.UserMapper">
	<resultMap type="com.rs.teach.mapper.user.entity.User" id="userInfo">
		<id property="userId" column="USER_ID" />
		<result property="userName" column="USER_NAME" />
		<result property="serialNumber" column="SERIAL_NUMBER" />
		<result property="passWord" column="PASS_WORD" />
		<result property="adminFlag" column="ADMIN_FLAG" />
		<result property="endDate" column="end_Date" />
		<result property="startTime" column="START_TIME" />
		<result property="isDefault" column="ISDEFAULT" />
		<result property="schoolId" column="SCHOOL_ID" />
		<result property="schoolName" column="SCHOOL_NAME" />
		<association property="attr" javaType="com.rs.teach.mapper.resourcesAttr.entity.PicAttr">
			<id property="associationId" column="USER_ID" />
			<result property="picId" column="pic_id" />
			<result property="picUrl" column="pic_url" />
			<result property="savePath" column="save_path" />
		</association>
	</resultMap>
	<select id="getUserById" parameterType="java.lang.String" resultMap="userInfo">
		select tu.USER_ID,tu.USER_NAME,tu.SERIAL_NUMBER,tu.PASS_WORD,tu.ADMIN_FLAG,tu.end_Date,
			tu.ISDEFAULT,tu.SCHOOL_ID,pa.pic_id,pa.pic_url,pa.save_path
		from TF_EL_TEACH_USER tu,TF_EL_PIC_ATTR pa
		where tu.USER_ID = pa.ASSOCIATION_ID and tu.USER_ID = #{id}
	</select>

	<select id="selectUserInfo" parameterType="com.rs.teach.mapper.user.entity.User" resultMap="userInfo">
		select  tu.USER_ID,tu.USER_NAME,tu.SERIAL_NUMBER,tu.ADMIN_FLAG,tu.end_Date,tu.START_TIME,
			tu.ISDEFAULT,tu.SCHOOL_ID,pa.pic_id,pa.pic_url,pa.save_path,s.SCHOOL_NAME
		from TF_EL_TEACH_USER tu,TF_EL_PIC_ATTR pa,TF_EL_SCHOOL s
		<where>
			tu.USER_ID = pa.ASSOCIATION_ID
			and tu.SCHOOL_ID = s.SCHOOL_ID

			<if test="adminFlag != null and adminFlag != '' and adminFlag == '3'.toString()">
				and  <![CDATA[tu.ADMIN_FLAG <> '0']]>
			</if>

			<if test="adminFlag != null and adminFlag != '' and adminFlag !='3'.toString()">
				and tu.ADMIN_FLAG = #{adminFlag}
			</if>

			<if test="userName != null and userName != ''">
			  	and tu.USER_NAME like  '%'||#{userName}||'%'
			</if>
			<if test="schoolId != null and schoolId != ''">
				and tu.SCHOOL_ID = #{schoolId}
			</if>
		</where>
	</select>

	<resultMap type="com.rs.teach.mapper.user.entity.User" id="user">
		<id property="userId" column="USER_ID" />
		<result property="userName" column="USER_NAME" />
		<result property="serialNumber" column="SERIAL_NUMBER" />
		<result property="passWord" column="PASS_WORD" />
		<result property="adminFlag" column="ADMIN_FLAG" />
		<result property="endDate" column="end_Date" />
		<result property="isDefault" column="ISDEFAULT" />
		<result property="schoolId" column="SCHOOL_ID" />
	</resultMap>
	<select id="getTeachUser" parameterType="java.lang.String" resultMap="user">
		select * from TF_EL_TEACH_USER t where t.USER_ID = #{id}
		union
		select * from TF_EL_TEACH_USER t where t.serial_number = #{id}
	</select>

	<select id="isUpdateInfo" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(1) from TF_EL_TEACH_USER where user_Id = #{id} and ISDEFAULT = '1'
	</select>
	<select id="queryTeachNumBySchoolId" resultType="java.lang.Integer">
		select count(1) from TF_EL_TEACH_USER
		where SCHOOL_ID = #{schoolId}
	</select>

	<update id="updateUser" parameterType="com.rs.teach.mapper.user.entity.User">
		update TF_EL_TEACH_USER t
			set t.USER_NAME = #{userName}, t.PASS_WORD = #{passWord}, t.ISDEFAULT = #{isDefault},
				t.MODIFIER = #{modifier}, t.UPDATE_TIME = #{update}
			where t.user_Id = #{userId}
	</update>
	<select id="checkUserId" resultType="java.lang.Integer">
		select count(1) from TF_EL_TEACH_USER
		where USER_ID = #{userId}
	</select>
	<select id="checkTelNum" resultType="java.lang.Integer">
		select count(1) from TF_EL_TEACH_USER
		where SERIAL_NUMBER = #{serialNumber}
	</select>
	<insert id="addUser" parameterType="com.rs.teach.mapper.user.entity.User">
		insert into TF_EL_TEACH_USER(user_id, user_name, serial_number, pass_word,
									admin_flag, school_id,
									isdefault, end_date, start_time)
		values (#{userId},#{userName},#{serialNumber},#{passWord},
				#{adminFlag},#{schoolId},
				#{isDefault},#{endDate},#{startTime})
	</insert>

	<update id="updateUserInfo" parameterType="com.rs.teach.mapper.user.entity.User">
		update TF_EL_TEACH_USER
		<set>
			<if test="userName != null and userName != ''">
				user_name = #{userName},
			</if>
			<if test="serialNumber != null and serialNumber != ''">
				SERIAL_NUMBER = #{serialNumber},
			</if>
			<if test="passWord != null and passWord != ''">
				PASS_WORD = #{passWord},
			</if>
			<if test="update != null and update != ''">
				UPDATE_TIME = #{update},
			</if>
			<if test="modifier != null and modifier != ''">
				MODIFIER = #{modifier},
			</if>
			<if test="endDate != null and endDate != ''">
				END_DATE = #{endDate},
			</if>
		</set>
		where USER_ID = #{userId}
	</update>
	<delete id="deleteUser">
		delete from TF_EL_TEACH_USER where USER_ID = #{userId}

	</delete>
	<select id="queryUserNotIn" resultType="com.rs.teach.mapper.user.entity.User">
		select t.USER_ID,t.USER_NAME
		from TF_EL_TEACH_USER t
		where t.ADMIN_FLAG = '0'
		and t.USER_ID not in (select USER_ID from USER_TRAIN_DATA_RELA)
	</select>
	<select id="selectTeachBySchoolId" resultType="com.rs.teach.mapper.user.entity.User">
		select user_id, user_name,SCHOOL_ID
		from TF_EL_TEACH_USER
		where SCHOOL_ID = #{schoolId}
	</select>
	<select id="selectUserInfoById" resultType="com.rs.teach.mapper.user.entity.User">
		select * from TF_EL_TEACH_USER where USER_ID = #{userId}
	</select>
</mapper>
