<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.user.dao.UserMapper">
	<resultMap type="com.rs.teach.mapper.user.entity.User" id="userInfo">
		<id property="userId" column="USER_ID" />
		<result property="userName" column="USER_NAME" />
		<result property="serialNumber" column="SERIAL_NUMBER" />
		<result property="passWord" column="PASS_WORD" />
		<result property="adminFlag" column="ADMIN_FLAG" />
		<result property="endDate" column="end_Date" />
		<result property="isDefault" column="ISDEFAULT" />
		<result property="schoolId" column="SCHOOL_ID" />
		<association property="attr" javaType="com.rs.teach.mapper.resourcesAttr.entity.PicAttr">
			<id property="associationId" column="USER_ID" />
			<result property="picId" column="pic_id" />
			<result property="picUrl" column="pic_url" />
			<result property="savePath" column="save_path" />
		</association>
	</resultMap>
	<select id="getUserById" parameterType="java.lang.String" resultMap="userInfo">
		select tu.USER_ID,tu.USER_NAME,tu.SERIAL_NUMBER,tu.PASS_WORD,tu.ADMIN_FLAG,tu.end_Date,
			tu.ISDEFAULT,tu.SCHOOL_ID,pa.pic_id,pa.pic_url,pa.save_path
		from TF_EL_TEACH_USER tu,TF_EL_PIC_ATTR pa 
		where tu.USER_ID = pa.ASSOCIATION_ID and tu.USER_ID = #{id}
	</select>
	
	<resultMap type="com.rs.teach.mapper.user.entity.User" id="user">
		<id property="userId" column="USER_ID" />
		<result property="userName" column="USER_NAME" />
		<result property="serialNumber" column="SERIAL_NUMBER" />
		<result property="passWord" column="PASS_WORD" />
		<result property="adminFlag" column="ADMIN_FLAG" />
		<result property="endDate" column="end_Date" />
		<result property="isDefault" column="ISDEFAULT" />
		<result property="schoolId" column="SCHOOL_ID" />
	</resultMap>
	<select id="getTeachUser" parameterType="java.lang.String" resultMap="user">
		select * from TF_EL_TEACH_USER t where t.USER_ID = #{id}
	</select>
	
	<select id="isUpdateInfo" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(1) from TF_EL_TEACH_USER where user_Id = #{id} and ISDEFAULT = '1'
	</select>
	<select id="queryTeachNumBySchoolId" resultType="java.lang.Integer">
		select count(1) from TF_EL_TEACH_USER
		where SCHOOL_ID = #{schoolId}
	</select>

	<update id="updateUser" parameterType="com.rs.teach.mapper.user.entity.User">
		update TF_EL_TEACH_USER t 
			set t.USER_NAME = #{userName}, t.PASS_WORD = #{passWord}, t.ISDEFAULT = #{isDefault},
				t.MODIFIER = #{modifier}, t.UPDATE_TIME = #{update}
			where t.user_Id = #{userId}
	</update>
</mapper>