<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.section.dao.SectionMapper">
	<resultMap type="com.rs.teach.mapper.section.entity.Section" id="sectionMap">
		<result property="upLoadId" column="UPLOAD_ID" />
		<result property="sectionId" column="SECTION_ID" />
		<result property="sectionSort" column="SECTION_SORT" />
		<result property="sectionName" column="SECTION_NAME" />
		<result property="sectionUrl" column="SECTION_URL" />
		<result property="courseId" column="COURSE_ID" />
		<result property="updateUser" column="UPDATE_USER" />
		<result property="updateFileName" column="UPDATE_FILENAME" />
		<result property="sectionType" column="section_type"/>
		<result property="workId" column="SCHOOLWORKID" />
		<result property="testPaperId" column="PAPERID"/>
		<result property="extend1" column="EXTEND1" />
		<result property="extend2" column="EXTEND2" />
		<result property="extend3" column="EXTEND3" />
		<result property="extend4" column="EXTEND4" />
	</resultMap>
	
	<select id="querySectionByUser" parameterType="java.lang.String" resultMap="sectionMap">
		select * from TF_EL_UPLOAD_FILE t where t.SECTION_ID = #{sectionId} and t.UPDATE_USER = #{userId}
	</select>
	
	<select id="querySection" parameterType="java.lang.String" resultMap="sectionMap">
		select * from tf_el_section t where t.section_id = #{sectionId}
	</select>
	
	<insert id="insertTeachUpSection" parameterType="com.rs.teach.mapper.section.entity.Section">
		insert into TF_EL_UPLOAD_FILE 
			(
				UPLOAD_ID,
				SECTION_ID,
				SECTION_NAME,
				COURSE_ID,
				SECTION_URL,
				UPDATE_USER,
				UPDATE_FILENAME,
				SECTION_TYPE,
				EXTEND1,
				EXTEND2,
				EXTEND3,
				EXTEND4
			)
		values
			(
				#{upLoadId},
				#{sectionId},
				#{sectionName},
				#{courseId},
				#{sectionUrl},
				#{updateUser},
				#{updateFileName},
				#{sectionType},
				#{extend1},
				#{extend2},
				#{extend3},
				#{extend4}
			)
	</insert>
	
	<select id="queryUpLoadSection" parameterType="java.lang.String" resultMap="sectionMap">
		select * from TF_EL_UPLOAD_FILE t where t.UPLOAD_ID = #{upLoadId}
	</select>
	
	<select id="querySectionByCourseId" parameterType="java.lang.String" resultMap="sectionMap">
		select * from tf_el_section t where t.COURSE_ID = #{courseId} order by t.totlesection_sort,t.section_sort
	</select>
	
	
	<resultMap type="java.util.HashMap" id="sMap">
		<result property="sectionId" column="section_id"/>
		<result property="totleSectionSort" column="totlesection_sort"/>
		<result property="totleSectionName" column="totlesection_name"/>
		<result property="sectionSort" column="section_sort"/>
		<result property="sectionName" column="section_name"/>
		<result property="courseId" column="course_id"/>
		<result property="studyStatus" column="isfinish"/>
		<result property="classId" column="class_id"/>
	</resultMap>
	<!-- 查询章节学习状态 -->
	<select id="querySectionStatus" parameterType="java.lang.String" resultMap="sMap">
		select se.section_id,se.totlesection_sort,se.totlesection_name,se.section_sort,se.section_name,
       se.course_id,ucr.isfinish,ucr.class_id
     from tf_el_section se, user_course_rela ucr
       where se.section_id = ucr.section_id 
             and se.course_id = #{courseId}
             and ucr.user_id = #{userId}
             and ucr.class_id = #{classId}
	</select>

    <select id="selectSectionNum" resultType="java.lang.String">
		select count(1) from TF_EL_SECTION
        where COURSE_ID=#{courseId}
	</select>
</mapper>