<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.section.dao.TrainSectionMapper">
    <insert id="addTrainSection" parameterType="com.rs.teach.mapper.section.dto.SectionDto">
        insert into TF_EL_TRAIN_SECTION
        (
            train_section_id,train_course_id, train_section_sort,
            train_section_name, train_litter_section_sort, train_litter_section_name,
            train_litter_section_url, train_litter_section_type, update_file_name,
            practice_id, testpaper_id,COURSEWARE_ID
        )
        values (
            SEQ_EL_TRAIN_SECTION.nextval, #{courseId},#{sectionSort},#{sectionName},
            #{litterSectionSort},#{litterSectionName},#{litterSectionUrl},
            #{litterSectionType},#{updateFileName},#{practiceId},
            #{testpaperId},#{coursewareId}
        )

    </insert>

    <update id="updateTrainSection" parameterType="com.rs.teach.mapper.section.dto.SectionDto">
        update TF_EL_TRAIN_SECTION
        <set>
            <if test="coursewareId != null and coursewareId != ''">
                COURSEWARE_ID = #{coursewareId},
            </if>
            <if test="courseId != null and courseId != ''">
                TRAIN_COURSE_ID = #{courseId},
            </if>
            <if test="sectionSort != null and sectionSort != ''">
                TRAIN_SECTION_SORT = #{sectionSort},
            </if>
            <if test="sectionName != null and sectionName != ''">
                TRAIN_SECTION_NAME = #{sectionName},
            </if>
            <if test="litterSectionSort != null and litterSectionSort != ''">
                TRAIN_LITTER_SECTION_SORT = #{litterSectionSort},
            </if>
            <if test="litterSectionName != null and litterSectionName != ''">
                TRAIN_LITTER_SECTION_NAME = #{litterSectionName},
            </if>
            <if test="litterSectionUrl != null and litterSectionUrl != ''">
                TRAIN_LITTER_SECTION_URL = #{litterSectionUrl},
            </if>
            <if test="litterSectionType != null and litterSectionType != ''">
                TRAIN_LITTER_SECTION_TYPE = #{litterSectionType},
            </if>
            <if test="updateFileName != null and updateFileName != ''">
                UPDATE_FILE_NAME = #{updateFileName},
            </if>
            <if test="practiceId != null and practiceId != ''">
                PRACTICE_ID = #{practiceId},
            </if>
            <if test="testpaperId != null and testpaperId != ''">
                TESTPAPER_ID = #{testpaperId},
            </if>
        </set>
        where TRAIN_SECTION_ID = #{sectionId}
    </update>

    <select id="selectTrainSection" resultType="com.rs.teach.mapper.section.entity.TrainSection">
        select * from tf_el_train_section
        where train_section_Id = #{sectionId}
    </select>

    <select id="selectSectionList" resultType="com.rs.teach.mapper.section.entity.TrainSection">
        select * from tf_el_train_section
        where train_course_Id = #{trainCourseId}
        and train_section_sort = #{trainSectionSort}
        order by train_litter_section_sort asc
    </select>

    <select id="selectTrainSectionById" resultType="com.rs.teach.mapper.section.vo.TrainSectionVo">
        select distinct TRAIN_SECTION_SORT,TRAIN_SECTION_NAME
        FROM TF_EL_TRAIN_SECTION
        WHERE TRAIN_COURSE_ID = #{courseId}
        order by TRAIN_SECTION_SORT
    </select>

    <select id="selectTrainLitterSection" resultType="com.rs.teach.mapper.section.vo.TrainLitterSectionVo">
        select TRAIN_SECTION_ID,TRAIN_LITTER_SECTION_SORT,TRAIN_LITTER_SECTION_NAME
               ,TRAIN_LITTER_SECTION_URL,TRAIN_LITTER_SECTION_TYPE,UPDATE_FILE_NAME,PRACTICE_ID ,TESTPAPER_ID
               ,COURSEWARE_ID
        FROM TF_EL_TRAIN_SECTION
        WHERE TRAIN_COURSE_ID = #{courseId}
        and TRAIN_SECTION_SORT = #{trainSectionSort}
         order by TRAIN_LITTER_SECTION_SORT
    </select>

    <select id="selectSectionNum" resultType="java.lang.Integer">
        select count(1) from TF_EL_TRAIN_SECTION
        where TRAIN_COURSE_ID=#{courseId}
    </select>
    <select id="getSectionByCourseId" resultType="com.rs.teach.mapper.section.entity.Section">
        select  train_section_id as sectionId,
                train_course_id as courseId,
                train_section_sort as totleSectionSort,
                train_section_name as totleSectionName,
                train_litter_section_sort as sectionSort,
                train_litter_section_name as sectionName,
                train_litter_section_url as sectionUrl,
                train_litter_section_type as sectionType,
                update_file_name as updateFileName,
                practice_id as workId,
                testpaper_id as testPaperId,
                courseware_id as coursewareId
        from TF_EL_TRAIN_SECTION
        where TRAIN_COURSE_ID = #{courseId}
        order by train_section_sort,train_litter_section_sort
    </select>


    <select id="selectTotoleSectionSortMax" resultType="com.rs.teach.mapper.backstage.entity.TotleSection">
        select * from
         (
            select ID,TOTLE_SECTION_SORT,TOTLE_SECTION_NAME,COURSE_ID
            from TF_EL_TRAIN_TOTLE_SECTION
            where COURSE_ID = #{courseId}
            order by TOTLE_SECTION_SORT desc
        )
        where rownum = 1
    </select>

    <insert id="addAllTotleSection" parameterType="java.util.List">
        insert into TF_EL_TRAIN_TOTLE_SECTION(id, totle_section_sort, totle_section_name, course_id)
        select SEQ_EL_TRAIN_TOTLE_SECTION.nextval,A.* from(
            <foreach collection="list" item="item" index="index" open="(" close=")" separator="union all">
              SELECT
                #{item.totleSectionSort,jdbcType=VARCHAR},
                #{item.totleSectionName,jdbcType=VARCHAR},
                #{item.courseId,jdbcType=VARCHAR}
              FROM DUAL
            </foreach>
        ) A
    </insert>

    <select id="selectTotleSection" parameterType="com.rs.teach.mapper.section.dto.TotleSectionDto" resultType="com.rs.teach.mapper.backstage.entity.TotleSection">
        select * from TF_EL_TRAIN_TOTLE_SECTION
        <where>
            1 = 1
            <if test="courseId != null and courseId !='' ">
                and COURSE_ID = #{courseId}
            </if>
        </where>
        order by TOTLE_SECTION_SORT
    </select>

    <update id="updateTotleSection" parameterType="com.rs.teach.mapper.section.dto.TotleSectionDto">
        update TF_EL_TRAIN_TOTLE_SECTION
        set TOTLE_SECTION_NAME = #{totleSectionNameforUpdate}
        where id = #{id}
    </update>

    <select id="IsEmpty" resultType="java.lang.Integer">
        select count(1) from TF_EL_TRAIN_TOTLE_SECTION
        where COURSE_ID = #{courseId}
    </select>
    <select id="IsBlank" parameterType="com.rs.teach.mapper.section.dto.SectionDto" resultType="java.lang.Integer">
        select count(1) from TF_EL_TRAIN_SECTION
        where TRAIN_COURSE_ID = #{courseId}
        and TRAIN_SECTION_SORT = #{sectionSort}
    </select>
    <select id="selectTrainLitterSectionSortMax" parameterType="com.rs.teach.mapper.section.dto.SectionDto" resultType="com.rs.teach.mapper.section.vo.TrainLitterSectionVo">
        select * from
         (
            select *
            from TF_EL_TRAIN_SECTION
            where TRAIN_COURSE_ID = #{courseId}
            and TRAIN_SECTION_SORT = #{sectionSort}
            order by TRAIN_LITTER_SECTION_SORT desc
        )
        where rownum = 1
    </select>
</mapper>