<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.timeTable.dao.ScheduleMapper">
	<resultMap type="com.rs.teach.mapper.timeTable.entity.Schedule" id="schedules">
		<result property="scheduleId" column="SCHEDULE_ID" />
		<result property="teachUserId" column="teachUser_Id" />
		<result property="teachUserName" column="user_Name" />
		<result property="curriculum" column="curriculum" />
		<result property="curriculumId" column="curriculumId" />
		<result property="startDate" column="start_Date" />
		<result property="endDate" column="end_Date" />
		<result property="weekDay" column="week_Day" />
		<result property="className" column="Class_Name" />
	</resultMap>
	
	<select id="querySchedulesByUserId" parameterType="java.lang.String" resultMap="schedules">
			select * from (select sd.SCHEDULE_ID,
	         sd.TEACHUSER_ID,
	         tu.user_Name,
	         ce.course_Name as curriculum,
	         sd.curriculumId,
	         sd.START_DATE,
	         sd.END_DATE,
	         sd.WEEK_DAY,
	         ca.Class_Name
	        from TF_EL_SCHEDULE sd, TF_EL_COURSE ce,TF_EL_CLASS ca, TF_EL_TEACH_USER tu
	      where sd.CURRICULUMID = ce.course_Id
	        and sd.CLASSID = ca.Class_Id
	        and sd.TEACHUSER_ID = tu.user_Id
	        and sd.TEACHUSER_ID = #{userId}
	union all
	select sd.SCHEDULE_ID,
	         sd.TEACHUSER_ID,
	         tu.user_Name,
	         vi.video_name as curriculum,
	         sd.curriculumId,
	         sd.START_DATE,
	         sd.END_DATE,
	         sd.WEEK_DAY,
	         ca.Class_Name
	        from TF_EL_SCHEDULE sd, tf_el_video vi,TF_EL_CLASS ca, TF_EL_TEACH_USER tu
	      where sd.CURRICULUMID = vi.video_id
	        and sd.CLASSID = ca.Class_Id
	        and sd.TEACHUSER_ID = tu.user_Id
	        and sd.TEACHUSER_ID = #{userId}) sd order by sd.WEEK_DAY,to_date(sd.start_date,'hh24:mi')
	</select>
	
	<insert id="insertSchedule" parameterType="com.rs.teach.mapper.timeTable.entity.Schedule">
		insert into TF_EL_SCHEDULE 
			(
				SCHEDULE_ID,
				TEACHUSER_ID,
				CURRICULUMID,
				START_DATE,
				END_DATE,
				WEEK_DAY,
				CLASSID
			)
		values
			(
				SEQ_EL_SCHEDULE.nextval,
				#{teachUserId},
				#{curriculumId},
				#{startDate},
				#{endDate},
				#{weekDay},
				#{classId}
			)
	</insert>
	
	<update id="updateSchedule" parameterType="com.rs.teach.mapper.timeTable.entity.Schedule">
		update tf_el_schedule t 
			set t.WEEK_DAY = #{weekDay}, 
				t.CURRICULUMID = #{curriculumId}, 
				t.START_DATE = #{startDate}, 
				t.END_DATE = #{endDate}, 
				t.CLASSID = #{classId}
			where t.SCHEDULE_ID = #{scheduleId}
	</update>
	
	<resultMap type="java.util.Map" id="stMap">
		<result property="classId" column="CLASSID" />
		<result property="className" column="CLASS_NAME" />
	</resultMap>
	<!-- 查询用户课表所教班级 -->
	<select id="queryStudyTeamById" parameterType="java.lang.String" resultMap="stMap">
		select t.classid,tc.class_name from TF_EL_SCHEDULE t,tf_el_class tc 
		where t.classid = tc.class_id and t.teachuser_id = #{userId} group by t.classid, tc.class_name
	</select>
	
	<delete id="deleteSchedule">
		delete from TF_EL_SCHEDULE where SCHEDULE_ID = #{scheduleId}
	</delete>
	
	<!-- 查询用户课程所绑定班级 -->
	<select id="queryClassIdByUserId" parameterType="java.lang.String" resultMap="stMap">
		select  tc.class_id, tc.class_name from user_course_rela re, tf_el_class tc 
    where tc.class_id = re.class_id and re.user_id = #{userId} group by tc.class_id, tc.class_name
	</select>
</mapper>