<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.materiel.dao.MaterielMapper">

	<resultMap type="com.rs.teach.mapper.materiel.entity.Materiel" id="materMap">
		<result property="materielId" column="materiel_Id" />
		<result property="materielName" column="materiel_Name" />
		<result property="materielUrl" column="materiel_Url" />
		<result property="materielStatus" column="materiel_Status" />
		<result property="materielDetail" column="MATERIEL_DETAIL" />
		<result property="materielPath" column="MATERIEL_PATH" />
		<result property="materielType" column="MATERIEL_CODE" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="materielImgUrl" column="MATERIEL_IMGURL" />
	</resultMap>
	
	<select id="queryMateriel" resultMap="materMap" parameterType="java.lang.String">
		select * from tf_el_materiel t 
		<where>
			1=1
			<if test="adminOperation == 1">
				and t.MATERIEL_STATUS = '1'
			</if>
			<if test="code != null and code != ''">
				and t.MATERIEL_CODE = #{code}
			</if>
		</where> 
	</select>
	
	<update id="updateStatus" parameterType="java.lang.String">
		update tf_el_materiel t set t.MATERIEL_STATUS = #{status} where t.materiel_Id = #{materielId}
	</update>
	
	<select id="queryMaterielById" parameterType="java.lang.String" resultMap="materMap">
		select * from tf_el_materiel t where t.materiel_Id = #{materielId}
	</select>
	
	<insert id="insertMateriel" parameterType="com.rs.teach.mapper.materiel.entity.Materiel">
		insert into tf_el_materiel 
			(
				materiel_Id,
				materiel_Name,
				materiel_Url,
				materiel_Status,
				MATERIEL_DETAIL,
				MATERIEL_PATH,
				MATERIEL_CODE,
				CREATE_DATE,
				MATERIEL_IMGURL
			)
		values
			(
				#{materielId},
				#{materielName},
				#{materielUrl},
				#{materielStatus},
				#{materielDetail},
				#{materielPath},
				#{materielType},
				#{createDate},
				#{materielImgUrl}
			)
	</insert>
	
	<delete id="delMateriel" parameterType="java.lang.String">
		delete from tf_el_materiel t where t.materiel_Id = #{materielId}
	</delete>
	
	<!-- 修改物料信息 -->
	<update id="updateMateriel" parameterType="com.rs.teach.mapper.materiel.entity.Materiel">
		update tf_el_materiel t 
		<set>
			<if test="materielName != null and materielName != ''">
				t.materiel_Name = #{materielName},
			</if>
			<if test="materielUrl != null and materielUrl != ''">
				t.materiel_Url = #{materielUrl},
			</if>
			<if test="materielDetail != null and materielDetail != ''">
				t.MATERIEL_DETAIL = #{materielDetail},
			</if>
			<if test="materielPath != null and materielPath != ''">
				t.MATERIEL_PATH = #{materielPath},
			</if>
			<if test="materielType != null and materielType != ''">
				t.MATERIEL_CODE = #{materielType},
			</if>
			<if test="materielImgUrl != null and materielImgUrl != ''">
				t.MATERIEL_IMGURL = #{materielImgUrl},
			</if>
			t.CREATE_DATE = #{createDate}
		</set>
		where t.materiel_Id = #{materielId}
	</update>
	
	<!-- 管理员查询所有物料 -->
	<select id="adminGetMateriel" parameterType="java.lang.String" resultMap="materMap">
		select t.materiel_Id,t.materiel_Name,
			t.materiel_Url,t.materiel_Status,t.MATERIEL_DETAIL,
			t.MATERIEL_PATH,t.CREATE_DATE,c.CODE_VALUE as MATERIEL_CODE
		from tf_el_materiel t, sys_code c 
		<where>
			t.MATERIEL_CODE = c.code
			<if test="code != null and code != ''">
				and t.MATERIEL_CODE = #{code}
			</if>
		</where> 
	</select>
	
	<!-- 按照物料名称模糊查询 -->
	<select id="queryMaterielByName" parameterType="java.lang.String" resultMap="materMap">
		select t.materiel_Id,t.materiel_Name,
			t.materiel_Url,t.materiel_Status,t.MATERIEL_DETAIL,
			t.MATERIEL_PATH,t.CREATE_DATE,c.CODE_VALUE as MATERIEL_CODE
		from tf_el_materiel t, sys_code c 
		where
			t.MATERIEL_CODE = c.code
			and t.materiel_Name like '%'||#{name}||'%'
	</select>
    <select id="selectMaterielNum" resultType="java.lang.Integer">
		select count(1) from TF_EL_MATERIEL
	</select>
</mapper>