<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.studyAttr.dao.TestAndWorkMapper">
	<resultMap type="com.rs.teach.mapper.studyAttr.entity.Testpaper" id="testPaper">
		<result property="testpaperId" column="TESTPAPER_ID"/>
		<result property="testpaperName" column="TESTPAPER_NAME"/>
		<result property="testpaperUrl" column="TESTPAPER_URL"/>
		<result property="testpaperPath" column="TESTPAPER_PATH"/>
	</resultMap>
	
	<resultMap type="com.rs.teach.mapper.studyAttr.entity.Practice" id="work">
		<result property="practiceId" column="PRACTICE_ID"/>
		<result property="practiceFileName" column="PRACTICE_FILE_NAME"/>
		<result property="practiceUrl" column="PRACTICE_URL"/>
		<result property="practicePath" column="PRACTICE_PATH"/>
	</resultMap>

	<insert id="insertPractice" parameterType="com.rs.teach.mapper.studyAttr.entity.Practice">
		insert into TF_EL_PRACTICE(PID,PRACTICE_ID, PRACTICE_FILE_NAME, PRACTICE_URL,PRACTICE_PATH)
		VALUES(SEQ_EL_PRACTICE.nextval,#{practiceId},#{practiceFileName},#{practiceUrl},#{practicePath})
	</insert>

	<insert id="insertTestpaper" parameterType="com.rs.teach.mapper.studyAttr.entity.Testpaper">
		insert into TF_EL_TESTPAPER(TID,testpaper_id, testpaper_name, testpaper_url,TESTPAPER_PATH)
		values (SEQ_EL_TESTPAPER.nextval,#{testpaperId},#{testpaperName},#{testpaperUrl},#{testpaperPath})
	</insert>

    <update id="updatePractice" parameterType="com.rs.teach.mapper.studyAttr.entity.Practice">
		update TF_EL_PRACTICE
		<set>
			<if test="practiceId != null and practiceId !=''">
				PRACTICE_ID = #{practiceId},
			</if>
			<if test="practiceFileName != null and practiceFileName !=''">
				PRACTICE_FILE_NAME = #{practiceFileName},
			</if>
			<if test="practiceUrl != null and practiceUrl !=''">
				PRACTICE_URL = #{practiceUrl},
			</if>
			<if test="practicePath != null and practicePath !=''">
				PRACTICE_PATH = #{practicePath},
			</if>
		</set>
		where PID = #{pid}
	</update>

	<update id="updateTestpaper" parameterType="com.rs.teach.mapper.studyAttr.entity.Testpaper">
		update TF_EL_TESTPAPER
		<set>
			<if test="testpaperId != null and testpaperId !=''">
				TESTPAPER_ID = #{testpaperId},
			</if>
			<if test="testpaperName != null and testpaperName !=''">
				TESTPAPER_NAME = #{testpaperName},
			</if>
			<if test="testpaperUrl != null and testpaperUrl !=''">
				TESTPAPER_URL = #{testpaperUrl},
			</if>
			<if test="testpaperPath != null and testpaperPath !=''">
				TESTPAPER_PATH = #{testpaperPath},
			</if>
		</set>
		where TID = #{tid}
	</update>

	<select id="queryPracticeById" parameterType="java.lang.String" resultMap="work">
		select * from TF_EL_PRACTICE where PRACTICE_ID = #{workId}
	</select>
	
	<select id="queryTestpaper" parameterType="java.lang.String" resultMap="testPaper">
		select * from TF_EL_TESTPAPER where TESTPAPER_ID = #{testId}
	</select>

	<select id="queryUrlByPid" resultType="java.lang.String">
		select PRACTICE_URL
		from TF_EL_PRACTICE
		where PID = #{pid}
	</select>
	<select id="queryUrlByTid" resultType="java.lang.String">
		select TESTPAPER_URL
		from TF_EL_TESTPAPER
		where TID = #{tid}
	</select>
    <select id="selectPractice" resultType="com.rs.teach.mapper.studyAttr.entity.Practice">
		select PID,PRACTICE_PATH
		from TF_EL_PRACTICE,TF_EL_TRAIN_SECTION
		where TF_EL_TRAIN_SECTION.PRACTICE_ID = TF_EL_PRACTICE.PRACTICE_ID
		and TRAIN_SECTION_ID = #{sectionId}
	</select>
	<select id="selectTestpaper" resultType="com.rs.teach.mapper.studyAttr.entity.Testpaper">
		select TID,TESTPAPER_PATH
		from TF_EL_TESTPAPER,TF_EL_TRAIN_SECTION
		where TF_EL_TRAIN_SECTION.TESTPAPER_ID = TF_EL_TESTPAPER.TESTPAPER_ID
		and TRAIN_SECTION_ID = #{sectionId}
	</select>
</mapper>