<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.studyAttr.dao.TrainCourseMapper">

    <select id="selectTrainCourse" resultType="com.rs.teach.mapper.studyAttr.vo.TrainCourseVo">
        select TC.train_course_Id,
              TC.train_course_Name,
              PA.pic_url AS picUrl,
              TC.train_coursePic_url,
              tc.train_section_number
        from tf_el_train_course  TC
        left join tf_el_train_pic_attr  PA
        on tc.train_course_Id = pa.association_Id

    </select>

    <select id="selectTrainCourseById" resultType="com.rs.teach.mapper.studyAttr.vo.TrainCourseVo">
        select TC.train_course_Id,
              TC.train_course_Name,
              PA.pic_url,
              tc.train_section_number
        from tf_el_train_course  TC
        left join tf_el_train_pic_attr  PA
        on tc.train_course_Id = pa.association_Id
        where tc.train_course_Id = #{courseId}
    </select>

</mapper>