<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.teach.mapper.studyAttr.dao.TrainCourseMapper">

    <insert id="addTrainCourse" parameterType="com.rs.teach.mapper.studyAttr.dto.CourseDto">
        insert into TF_EL_TRAIN_COURSE(train_course_id, train_course_name, train_coursepic_url,ADD_TIME)
        values (SEQ_EL_TRAIN_COURSE.nextval,#{courseName},#{coursePicUrl},#{addTime})
    </insert>

    <update id="updateTrainCourse" parameterType="com.rs.teach.mapper.studyAttr.dto.CourseDto">
        update TF_EL_TRAIN_COURSE
        <set>
            <if test="courseName != null and courseName != ''">
                TRAIN_COURSE_NAME = #{courseName},
            </if>
            <if test="coursePicUrl != null and coursePicUrl != ''">
                TRAIN_COURSEPIC_URL = #{coursePicUrl},
            </if>
        </set>
        WHERE TRAIN_COURSE_ID = #{courseId}
    </update>

    <delete id="deleteTrainCourse">
        delete from TF_EL_TRAIN_COURSE
        where TRAIN_COURSE_ID=#{courseId}
    </delete>

    <select id="selectTrainCourse" parameterType="com.rs.teach.mapper.studyAttr.dto.CourseDto" resultType="com.rs.teach.mapper.studyAttr.vo.TrainCourseVo">
        select TC.train_course_Id,
              TC.train_course_Name,
              TC.train_coursePic_url,
              TC.ADD_TIME
        from tf_el_train_course  TC
        <where>
            1 = 1
            <if test="courseName != null and courseName != ''">
               and train_course_Name like '%'|| #{courseName} ||'%'
            </if>
        </where>
    </select>

    <select id="selectTrainCourseById" resultType="com.rs.teach.mapper.studyAttr.vo.TrainCourseVo">
        select TC.train_course_Id,
              TC.train_course_Name,
              tc.TRAIN_COURSEPIC_URL,
              ADD_TIME
        from tf_el_train_course  TC
        where tc.train_course_Id = #{courseId}
    </select>
    <select id="trainCourseList" resultType="com.rs.teach.mapper.common.OptionVo">
        select TRAIN_COURSE_ID as value,
         TRAIN_COURSE_NAME as label
         from TF_EL_TRAIN_COURSE
    </select>
    <select id="echoCourse" resultType="com.rs.teach.mapper.studyAttr.vo.CourseVo">
        select '1' as isTrain,TRAIN_COURSE_ID as courseId,TRAIN_COURSE_NAME as courseName,TRAIN_COURSEPIC_URL as coursePicUrl
        from TF_EL_TRAIN_COURSE
        where TRAIN_COURSE_ID = #{courseId}
    </select>
    <select id="selectTrainCourseNum" resultType="java.lang.Integer">
        select count(1) from TF_EL_TRAIN_COURSE
    </select>
    <select id="isEmptyFile" resultType="java.lang.Integer">
        select count(1)
        from TF_EL_TRAIN_COURSE tc , TF_EL_TRAIN_TOTLE_SECTION tts, TF_EL_TRAIN_SECTION ts
        where tc.TRAIN_COURSE_ID = tts.COURSE_ID
        and tts.ID = ts.TRAIN_SECTION_SORTID
        and ts.TRAIN_COURSE_ID = #{courseId}
        and COURSEWARE_ID is not null
        and TESTPAPER_ID is not null
        and PRACTICE_ID is not null
    </select>

</mapper>